

*{margin:0;
padding:0;
box-sizing: border-box;

}
body{
    font-family: 'Courier New', Courier, monospace;
     font-optical-sizing: auto;
     background-color: aqua;
     padding:80px 0;

}
section{max-width: 1000px;
    margin:0px auto;

    display:flex;
    flex-direction: column ;
    align-items: center;
    gap: 20px;
    background-color:rgb(0, 183, 255);
    padding:24px,48px;
    border:2px dashed; 
h1{
    font-size: 64px;
    color: rgb(0, 30, 255);
    font-weight: 900;
    text-align: center;
    -webkit-text-stroke: 2px black;

}
h2{
    font-size: 40px;
    color: rgb(0, 30, 255);
    font-weight: 900;
    text-align: center;
    -webkit-text-stroke: 2px black;
}
p{font-size: 32px;
    color: black;
    font-weight: 900;
    text-align:  justify;
    
}

   
}